<footer>
    <div class="container">
        <p class="fs-6">Articles Récents</p>
            <ul>
                <li><%= link_to "Passer son permis grâce au CPF, c’est possible !", "https://www.hop3team.com/passer-son-permis-grace-au-cpf-cest-possible" %></li>
                <li><%= link_to "Tirer parti des indicateurs quand on est organisme de formation", "https://www.hop3team.com/tirer-parti-des-indicateurs-quand-on-est-organisme-de-formation/" %> </li>
                <li><%= link_to "Le reste à charge du CPF aura bien lieu", "https://www.hop3team.com/le-reste-a-charge-du-cpf-aura-bien-lieu/"  %></li>
                <li><%= link_to "Optimisez votre certification Qualiopi grâce à Hop3team", "https://www.hop3team.com/optimisez-votre-certification-qualiopi-grace-a-hop3team/" %></li>
                <li><%= link_to "Une nouvelle tendance : l’adaptive learning", "https://www.hop3team.com/une-nouvelle-tendance-ladaptive-learning/" %></li>
            </ul>
    </div>


    <div class="container">
        <h2 class="title-heading text-center">Partenaires institutionnels</h2>

            <ul class="footer-partners list-unstyled">
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/BGE.png", alt:"BGE")%>
                  <% end %>
                  </li>
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/euratech_lille.png", alt:"euratech_lille")%>
                    <% end %>
                    </li>
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/HDFD.png", alt:"HDFD")%>
                  <% end %>
                  </li>
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/initiative.png", alt:"initiative")%>
                  <% end %>
                  </li>
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/cic.png", alt:"cic")%>
                    <% end %>
                  </li>
                 <li class="footer-partners__item">
                    <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/hodefi.png", alt:"hodefi")%>
                    <% end %>
                  </li>
                 <li class="footer-partners__item">
                    <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/frenchtech-e1587307974405.png", alt:"frenchtech")%>
                    <% end %>
                  </li>
                 <li class="footer-partners__item">
                    <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/04/BPIrond-e1587308403790.png", alt:"bpirond")%>
                    <% end %>
                  </li>
                    <%= link_to "" do %>
                 <li class="footer-partners__item">
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/04/CEcarré.jpg", alt:"CEcarré")%>
                    <% end %>
                  </li>
                    <%= link_to "" do %>
                 <li class="footer-partners__item">
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2022/06/logo-Side-petit.png", alt:"logo Side petit")%>
                    <% end %>
                  </li>
            </ul>
      
            <div class="footer-nav mt-4">
                <ul id="menu-menu-pied-de-page" class="footer-items list-unstyled">
                    <li class="fw-bolder">Documents</li>
                    <li class="fw-bolder">Aide
                        <ul class="sub-menu">
                            <li class="fw-light fs-6"> <%= link_to "Évaluations", "https://www.hop3team.com/ressources#evaluations"%></li>
                            <li class="fw-light"> <%= link_to "Certifications", "https://www.hop3team.com/ressources#certifications" %> </li>
                            <li class="fw-light"> <%= link_to "Glossaire", "https://www.hop3team.com/glossaire/" %></li>
                            <li class="fw-light"> <%= link_to "Blog", "https://www.hop3team.com/actualites-formation-professionnelle/" %></li>
                        </ul>
                    </li>
                    <li class="fw-bolder">Notre offre</a>
                        <ul class="sub-menu">
                            <li class="fw-light"> <%= link_to "Suivre une présentation", "https://www.hop3team.com/webinaires/" %></li>
                            <li class="fw-light"> <%= link_to "Tarifs", "https://www.hop3team.com/tarifs#licences" %></li>
                            <li class="fw-light"> <%= link_to "Contact", "https://www.hop3team.com/contact/" %></li>
                            <li class="fw-light"> <%= link_to "FAQ", "https://www.hop3team.com/faq/"%></li>
                        </ul>
                    </li>
                    <div class="footer-contact">
                        <ul id="menu-menu-bas-pied-de-page" class="footer-items list-unstyled">
                            <li class="fw-bolder">Informations</a>
                            <ul class="sub-menu">
                                <li class="fw-light"> <%= link_to "Témoignages clients", "https://www.hop3team.com/temoignages-clients/"%></li>
                                <li class="fw-light"> <%= link_to "S'inscrire à la newlsletter", "https://www.hop3team.com/sinscrire-a-la-newsletter/"%><li>
                                <li class="fw-light"> <%= link_to "Revue de presse", "https://www.hop3team.com/revue-de-presse/"%></li>
                                <li class="fw-light"> <%= link_to "Mentions légales", "https://www.hop3team.com/mentions-legales/" %></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                    <ul class="footer-items footer-social list-unstyled">
                        <li class="footer-social__item">
                            <a href="https://www.facebook.com/hop3team/" target="_blank" rel="noreferrer" title="Facebook - Hop3team">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            </li>
                        <li class="footer-social__item">
                            <a href="https://www.instagram.com/hop3team/" target="_blank" rel="noreferrer" title="Instagram - Hop3team">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            </li>
                        <li class="footer-social__item">
                            <a href="https://www.linkedin.com/company/hop3team/?originalSubdomain=fr" target="_blank" rel="noreferrer" title="LinkedIn - Hop3team">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                            </li>
                        <li class="footer-social__item">
                            <a href="https://twitter.com/hop3team?lang=fr" target="_blank" rel="noreferrer" title="Twitter - Hop3team">
                               <i class="fa-brands fa-twitter"></i>
                            </a>
                            </li>
                    </ul>
                </ul>
                
            </div>
            
      
            
        </div>
     </div>
    </div>

</footer>

<%# ! TODO mise en page de la dernière section du footer et des logo social  %>