<footer>
    <div class="container">
        <p class="fs-6">Articles Récents</p>
            <ul>
                <li><%= link_to "Passer son permis grâce au CPF, c’est possible !", "https://www.hop3team.com/passer-son-permis-grace-au-cpf-cest-possible" %></li>
                <li><%= link_to "Tirer parti des indicateurs quand on est organisme de formation", "https://www.hop3team.com/tirer-parti-des-indicateurs-quand-on-est-organisme-de-formation/" %> </li>
                <li><%= link_to "Le reste à charge du CPF aura bien lieu", "https://www.hop3team.com/le-reste-a-charge-du-cpf-aura-bien-lieu/"  %></li>
                <li><%= link_to "Optimisez votre certification Qualiopi grâce à Hop3team", "https://www.hop3team.com/optimisez-votre-certification-qualiopi-grace-a-hop3team/" %></li>
                <li><%= link_to "Une nouvelle tendance : l’adaptive learning", "https://www.hop3team.com/une-nouvelle-tendance-ladaptive-learning/" %></li>
            </ul>
    </div>


    <div class="container">
        <h2 class="title-heading text-center">Partenaires institutionnels</h2>

            <ul class="footer-partners list-unstyled">
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/BGE.png", alt:"BGE")%>
                  <% end %>
                  </li>
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/euratech_lille.png", alt:"euratech_lille")%>
                    <% end %>
                    </li>
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/HDFD.png", alt:"HDFD")%>
                  <% end %>
                  </li>
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/initiative.png", alt:"initiative")%>
                  <% end %>
                  </li>
                 <li class="footer-partners__item">
                <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/cic.png", alt:"cic")%>
                    <% end %>
                  </li>
                 <li class="footer-partners__item">
                    <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/hodefi.png", alt:"hodefi")%>
                    <% end %>
                  </li>
                 <li class="footer-partners__item">
                    <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/02/frenchtech-e1587307974405.png", alt:"frenchtech")%>
                    <% end %>
                  </li>
                 <li class="footer-partners__item">
                    <%= link_to "" do %>
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/04/BPIrond-e1587308403790.png", alt:"bpirond")%>
                    <% end %>
                  </li>
                    <%= link_to "" do %>
                 <li class="footer-partners__item">
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2020/04/CEcarré.jpg", alt:"CEcarré")%>
                    <% end %>
                  </li>
                    <%= link_to "" do %>
                 <li class="footer-partners__item">
                     <%= image_tag("https://www.hop3team.com/wp-content/uploads/2022/06/logo-Side-petit.png", alt:"logo Side petit")%>
                    <% end %>
                  </li>
            </ul>
      
            <div class="footer-nav">
                <ul id="menu-menu-pied-de-page" class="footer-items list-unstyled">
                    <li id="menu-item-89" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-89"><a>Documents</a></li>
                    <li id="menu-item-90" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-90"><a>Aide</a>
                    <ul class="sub-menu">
                        <li id="menu-item-7446" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7446"><a href="https://www.hop3team.com/glossaire/">Glossaire</a></li>
                        <li id="menu-item-2729" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2729"><a href="https://www.hop3team.com/ressources#evaluations">Évaluations</a></li>
                        <li id="menu-item-2733" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2733"><a href="https://www.hop3team.com/ressources#certifications">Certifications</a></li>
                        <li id="menu-item-2734" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2734"><a href="https://www.hop3team.com/actualites-formation-professionnelle/">Blog</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-91" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-91"><a>Notre offre</a>
                        <ul class="sub-menu">
                            <li id="menu-item-10759" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10759"><a href="https://www.hop3team.com/webinaires/">Suivre une présentation</a></li>
                            <li id="menu-item-2645" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2645"><a href="https://www.hop3team.com/tarifs#licences">Tarifs</a></li>
                            <li id="menu-item-7441" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7441"><a href="https://www.hop3team.com/contact/">Contact</a></li>
                            <li id="menu-item-7439" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7439"><a href="https://www.hop3team.com/faq/">FAQ</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
            <div class="footer-contact">
                <ul id="menu-menu-bas-pied-de-page" class="footer-items list-unstyled">
                    <li id="menu-item-109" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-109"><a>Informations</a>
                    <ul class="sub-menu">
                        <li id="menu-item-7448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7448"><a href="https://www.hop3team.com/temoignages-clients/">Témoignages clients</a></li>
                        <li id="menu-item-7450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7450"><a href="https://www.hop3team.com/sinscrire-a-la-newsletter/">S&rsquo;inscrire à la newsletter</a></li>
                        <li id="menu-item-7452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7452"><a href="https://www.hop3team.com/revue-de-presse/">Revue de presse</a></li>
                        <li id="menu-item-12832" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12832"><a href="https://www.hop3team.com/mentions-legales/">Mentions légales</a></li>
                    </ul>
                    </li>
                </ul></div>
      
            <ul class="footer-items footer-social list-unstyled">
                <li class="footer-social__item">
                    <a href="https://www.facebook.com/hop3team/" target="_blank" rel="noreferrer" title="Facebook - Hop3team">
                        <img src="https://www.hop3team.com/wp-content/themes/hop3team-charte6/dist/images/social/facebook.svg" alt="Facebook" class="inline-svg">
                    </a>
                    </li>
                <li class="footer-social__item">
                    <a href="https://www.instagram.com/hop3team/" target="_blank" rel="noreferrer" title="Instagram - Hop3team">
                        <img src="https://www.hop3team.com/wp-content/themes/hop3team-charte6/dist/images/social/instagram.svg" alt="Instagram" class="inline-svg">
                    </a>
                    </li>
                <li class="footer-social__item">
                    <a href="https://www.linkedin.com/company/hop3team/?originalSubdomain=fr" target="_blank" rel="noreferrer" title="LinkedIn - Hop3team">
                        <img src="https://www.hop3team.com/wp-content/themes/hop3team-charte6/dist/images/social/linkedin.svg" alt="Linkedin" class="inline-svg">
                    </a>
                    </li>
                <li class="footer-social__item">
                    <a href="https://twitter.com/hop3team?lang=fr" target="_blank" rel="noreferrer" title="Twitter - Hop3team">
                        <img src="https://www.hop3team.com/wp-content/themes/hop3team-charte6/dist/images/social/twitter.svg" alt="Twitter" class="inline-svg">
                    </a>
                    </li>
            </ul>
        </div>
     </div>
    </div>

</footer>

<%# ! TODO mise en page de la dernière section du footer et des logo social  %>