<footer>
    <div class="container">
        <p class="fs-6">Articles Récents</p>
            <ul>
                <li><%= link_to "Passer son permis grâce au CPF, c’est possible !", "https://www.hop3team.com/passer-son-permis-grace-au-cpf-cest-possible" %></li>
                <li><%= link_to "Tirer parti des indicateurs quand on est organisme de formation", "https://www.hop3team.com/tirer-parti-des-indicateurs-quand-on-est-organisme-de-formation/" %> </li>
                <li><%= link_to "Le reste à charge du CPF aura bien lieu", "https://www.hop3team.com/le-reste-a-charge-du-cpf-aura-bien-lieu/"  %></li>
                <li><%= link_to "Optimisez votre certification Qualiopi grâce à Hop3team", "https://www.hop3team.com/optimisez-votre-certification-qualiopi-grace-a-hop3team/" %></li>
                <li><%= link_to "Une nouvelle tendance : l’adaptive learning", "https://www.hop3team.com/une-nouvelle-tendance-ladaptive-learning/" %></li>
            </ul>
    </div>

</footer>