

<main>
    <section class="header">
        <img src="https://www.hop3team.com/wp-content/uploads/2022/06/Hop3team_Incubateur_Concept.jpg">
    </section>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="https://www.hop3team.com/">Accueil </a>
        </li>
        <li class="breadcrumb-item2 active">
            Hop3team c'est...
        </li>
    </ol>

    <div class="container text-center my-3">
        <hr></hr>
        <h2 class="pb-2 "><strong>La belle histoire !</strong></h2>
        <p class="fs-4 mb-0">Hop3team… Hop puissance 3, Optimisation version raccourcie, l’équipe HopHopHop ?</p>
        <p class="fs-4">Mais en fait, Hop3Team, c’est quoi, c’est qui ?</p>
        <hr></hr>
        <p>
            <strong>Hop3team</strong> (“hop’team” version simple, “hop-trois-team” version intégrale !) n’est ni une entreprise, ni un outil, ni un superhéros, ni une formule mathématique. C’est la rencontre de deux hommes « bien différents mais aussi fous l’un que l’autre », animés par la volonté de simplifier le quotidien de tous en transmettant leurs connaissances et leur savoir-travailler-ensemble. 
            <br>
            Et oui, tout ça ! il fallait bien un « 3 » !
        </p>
        <div class="d-flex">
            <figure>
                <img src="https://www.hop3team.com/wp-content/uploads/2020/03/Hop3team_Julien_Guyot_Concept_.jpg"  class="wp-image">
            </figure>
            <div class="ceo-info">
                <p>
                    <strong>JULIEN</strong>
                    , motivé très jeune par l’aide aux autres et qui, faute d’avoir pu participer activement dans une ONG à caractère éducatif, s’est investi dans la formation, ici en France. Ici même, en Hauts-de-France, expatrié de sa région pour sa vie familiale chez les Chtis.
                </p>
                <p>Et puis, il avoue qu’on pleure en arrivant, mais qu’il n’a pas envie d’en repartir. Malgré les embûches, les remises en question, les frustrations professionnelles aussi. Parce qu’à chaque étape, il fait de belles rencontres : formateurs, étudiants, responsables d’école ou d’entreprise. Qu’à chaque poste, il a soif d’apprendre et rajoute des cordes à son arc, pour s’améliorer, pour encore mieux réussir, pour faciliter le quotidien des autres. Qu’à chaque point d’arrêt, il se pose, il réfléchit, il positive pour « faire concrètement quelque chose de sa vie ».&nbsp;
                </p>
        </div>

        </div>
        <p class="text-center">
         <strong>Et parce que « Julien a une capacité incroyable à se relever quand il prend une pelle dans la gueule », dixit Laurent.&nbsp;</strong>
        </p>
        <hr>
         <div class="d-flex">
            <div class="ceo-info2">
                <p>
                    <strong>LAURENT</strong> , « c’est nettement plus complexe » et c’est lui qui l’affirme ! Electron libre et jusqu’au-boutiste, Laurent, le chti, fonce… pour dévaler les slaloms dans les compèts de ski quand il est ado, pour sécher ses cours au profit d’une expérience parisienne en graphisme, pour retourner chaque situation désagréable en nouveau challenge, pour devenir ce qu’il voulait être : un pro de la comm’.
                </p>
                <p>Il se savait fait pour la pub’ (autre nom du marketing !), comme Obélix pour sa potion, et n’a jamais perdu de vue son cap, colorant son parcours de son énergie à apprendre, sa curiosité pour les innovations et les nouvelles techno. 
                </p>
                <p>Formateur à ses heures perdues (H25 et 26 de ses journées !) en 2008, il rencontre Julien, « celui qui met du ciment autour des briques » et qui deviendra son ami, et dont il deviendra le compère.</p>
            </div>
            <figure>
                <img src="	https://www.hop3team.com/wp-content/uploads/2020/03/Hop3team_Laurent_Bocquet_Concept_.jpg"  class="wp-image">
            </figure>
        </div>

        <hr>
        <p class="text-start">Et puis Julien a une idée, « l’idée », la petite graine à l’origine de tout ça, de toutes les (excellentes) idées qui fusent aujourd’hui : simplifier l’un des process les plus rébarbatifs de la formation, l’émargement, par sa digitalisation. Et « si il y va, on y va à deux »… Quelques (euphémisme !) burgers et bières plus tard, les deux acolytes imaginent, essaient, défont le projet. Ils se motivent et se chambrent. Quand l’un se gamelle, l’autre y retourne parce « qu’on apprend tout le temps, surtout quand on est autodidacte ». Ils tentent l’incubateur d’Euratech une fois, échec. Et alors ? Ils revoient leur copie, recommencent, se relaient pour « les fins de mois difficiles » et c’est avec Hop3team que l’aventure commence.</p>
        <p class="text-start">Julien est le Larousse de la formation, l’altruiste professionnel qui sait simplifier pour « aider », Laurent le couteau suisse du marketing digital, le dynamiseur des structures.</br>
        À deux, ils veulent trouver des solutions qui arrangent le quotidien des gens qu’ils côtoient : formateurs, organismes de formation, et y prendre plaisir.<br>
        À deux, ils co-fondent Hop3team et lancent le premier POC, la solution personnalisée et évolutive qui comprend, qui optimise, qui facilite, qui valorise les métiers des organismes de formation.</p>
        <hr class="gray">

        <h2 class="pb-2 mt-2"><strong>Qui sommes-nous ?</strong></h2>
        <p class="fs-5 mb-0">
            On n’est pas tout seul !! C’est pour ça qu’on en fait autant.<br>
            Et on va même être de plus en plus, il faudra revenir régulièrement <br>
            pour découvrir les experts qui sont à votre entière disposition !
        </p>
        <hr>

        <%# ----------- Fondateurs --------------- %>
        <h2 class="fs-1">LES FONDATEURS</h2>

        <div class="wp-block-group mt-4">
            <div class="wp-block-group-inner d-flex gap-4 mt-3">
                <div class="wp-block-item">
                    <figure >
                        <img src="https://www.hop3team.com/wp-content/uploads/2022/06/NewJG.png">
                        <figcaption>
                            <center>
                                <strong>Julien Guyot</strong>
                                <br>
                                Président - DAF
                            </center>
                        </figcaption>
                    </figure>
                    <p class="fs-6">Formation professionnel<br>et conduite du changement</p>
                    <div class="wp-block-button mt-2">
                        <%= link_to 'Prendre contact', "https://www.linkedin.com/in/julien-guyot-10aab2107/"   %>
                    </div>
                </div>
                <div class="wp-block-item">
                    <figure>
                        <img src="https://www.hop3team.com/wp-content/uploads/2022/06/NewLB.png">
                        <figcaption>
                            <center>
                                <strong>Laurent Bocquet</strong>
                                <br>
                                Directeur Général - CMO
                            </center>
                        </figcaption>
                    </figure>
                    <p>Transformation digitale, disruption<br>et planification stratégique</p>
                    <div class="wp-block-button">
                        <%= link_to 'Prendre contact', "https://www.linkedin.com/in/laurent-bocquet-309a1829/"   %>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>

        <%# --------------- Comité opé ------------------ %>

        <h2 class="fs-1">Comité opérationnel</h2>

        <div class="wp-block-group mt-4 mb-4">
            <div class="wp-block-group-inner d-flex gap-4 mt-3">
                <div class="wp-block-item">
                    <figure >
                        <img src="	https://www.hop3team.com/wp-content/uploads/2022/06/NewVJ.png" class="img-ope">
                        <figcaption>
                            <center>
                                <strong>Virginie Jacquot</strong>
                                <br>
                               Directrice Opérationnel
                            </center>
                        </figcaption>
                    </figure>
                    <div class="wp-block-button mt-5">
                        <%= link_to 'Prendre contact', "https://www.linkedin.com/in/julien-guyot-10aab2107/"   %>
                    </div>
                </div>
                <div class="wp-block-item">
                    <figure>
                        <img src="	https://www.hop3team.com/wp-content/uploads/2022/06/NewJD.png" class="img-ope">
                        <figcaption>
                            <center>
                                <strong>Joyce Degezelle</strong>
                                <br>
                                Directrice commerciale
                            </center>
                        </figcaption>
                    </figure>
                    <div class="wp-block-button mt-5">
                        <%= link_to 'Prendre contact', "https://www.linkedin.com/in/laurent-bocquet-309a1829/"   %>
                    </div>
                </div>
                <div class="wp-block-item">
                    <figure>
                        <img src="https://www.hop3team.com/wp-content/uploads/2024/02/NewAQ.png" class="img-ope">
                        <figcaption>
                            <center>
                                <strong>Amandine Quesnoy</strong>
                                <br>
                                Directrice Administratif et Financier
                            </center>
                        </figcaption>
                    </figure>
                    <div class="wp-block-button mt-4">
                        <%= link_to 'Prendre contact', "https://www.linkedin.com/in/laurent-bocquet-309a1829/"   %>
                    </div>
                </div>
            </div>
            </div>

          <%# ---------------- Support  -------------- %>

           <h2 class="fs-1 mt-4">Fonction Support</h2>

          <div class="wp-block-group mt-4">
            <div class="wp-block-group-inner d-flex gap-4">
                <div class="wp-block-item">
                    <figure >
                        <img src="https://www.hop3team.com/wp-content/uploads/2023/09/NewGP.png" class="img-ope">
                        <figcaption>
                            <center>
                                <strong>Guillemette Paillet</strong>
                                <br>
                                Assistante marketing comm' et digital
                            </center>
                        </figcaption>
                    </figure>
                    <div class="wp-block-button mt-2">
                        <%= link_to 'Prendre contact', "https://www.linkedin.com/in/julien-guyot-10aab2107/"   %>
                    </div>
                </div>
                <div class="wp-block-item">
                    <figure>
                        <img src="https://www.hop3team.com/wp-content/uploads/2022/06/louise.jpg" class="img-ope">
                        <figcaption>
                            <center>
                                <strong>Louise Guilloteau</strong>
                                <br>
                                Responsable Gestion des Ventes
                            </center>
                        </figcaption>
                    </figure>
                    <div class="wp-block-button">
                        <%= link_to 'Prendre contact', "https://www.linkedin.com/in/laurent-bocquet-309a1829/"   %>
                    </div>
                </div>
            </div>
            </div>


    </div>

</main>